<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addteacher" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name">
        Address: <input type="text" name="address">
        <button type="submit">Add record</button>
    </form>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for teacher in teacherdata %}
          <tr>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.address }}</td>
          </tr>
        {% endfor %}
    </table>
</body>
</html>